body, html {
  height: 100%;
  margin: 0;
}
#website {
font-family: 'Montserrat', sans-serif;
}


.bgimg {
  background-image: url('https://images.unsplash.com/photo-1507255782351-45654f0c20d1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed21edd21a4192484cf036731d2275d4&auto=format&fit=crop&w=2550&q=80');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
}



.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  font-family:'Montserrat', sans-serif;
  font-size: 10px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}